<launch>
  <arg name="board1_decode_service" default="/yaofang_vision/board1_decode" />
  <arg name="image_ready_timeout_sec" default="0.2" />
  <arg name="image_ready_poll_sec" default="0.01" />

  <!-- 黑框检测（实车验证参数） -->
  <arg name="min_area_ratio" default="0.008" />
  <arg name="max_area_ratio" default="0.48" />
  <arg name="inner_max_area_ratio" default="0.42" />
  <arg name="aspect_min" default="0.50" />
  <arg name="aspect_max" default="1.85" />
  <arg name="min_side" default="20" />
  <arg name="approx_eps_ratio" default="0.05" />
  <arg name="area_similar_min" default="0.35" />
  <arg name="area_similar_max" default="4.0" />
  <arg name="dedupe_dist_thresh" default="20" />
  <arg name="crop_margin_ratio" default="0.01" />
  <arg name="morph_close_iters" default="2" />

  <node
      pkg="qr_code_recognition"
      type="qr_node.py"
      name="qr_node"
      output="screen">
    <param name="board1_decode_service" value="$(arg board1_decode_service)" />
    <param name="image_ready_timeout_sec" value="$(arg image_ready_timeout_sec)" />
    <param name="image_ready_poll_sec" value="$(arg image_ready_poll_sec)" />
    <param name="min_area_ratio" value="$(arg min_area_ratio)" />
    <param name="max_area_ratio" value="$(arg max_area_ratio)" />
    <param name="inner_max_area_ratio" value="$(arg inner_max_area_ratio)" />
    <param name="aspect_min" value="$(arg aspect_min)" />
    <param name="aspect_max" value="$(arg aspect_max)" />
    <param name="min_side" value="$(arg min_side)" />
    <param name="approx_eps_ratio" value="$(arg approx_eps_ratio)" />
    <param name="area_similar_min" value="$(arg area_similar_min)" />
    <param name="area_similar_max" value="$(arg area_similar_max)" />
    <param name="dedupe_dist_thresh" value="$(arg dedupe_dist_thresh)" />
    <param name="crop_margin_ratio" value="$(arg crop_margin_ratio)" />
    <param name="morph_close_iters" value="$(arg morph_close_iters)" />
  </node>
</launch>
