<launch>
  <!-- 基于官方 eprobot_start/EPRobot_start.launch；增加 is_pub_odom_tf 可配。
       与 nav_real EKF 联用时设为 false，避免与 EKF 双发 odom→base_footprint TF。 -->

  <arg name="CAR_TYPE" value="$(env ROBOT_TYPE)" />
  <arg name="is_pub_odom_tf" default="false" doc="true=底盘发 odom TF（不用 EKF）；false=仅 EKF 发 odom TF"/>

  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0.08 0 0 0 0 0 base_footprint base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0.08 0 0 0 0 0 base_footprint gyro_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.14 0 0.11 0 0 0 base_footprint base_laser_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.14 0 0.11 0 0 0 base_footprint camera_link 100" />

  <param name="robot_description" textfile="$(find eprobot_description)/urdf/eprobot.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="eprobot_joint_publisher" pkg="eprobot_description" type="rviz_move.py" output="screen"/>

  <arg name="lidar_frame" value="base_laser_link"/>
  <arg name="lidar_mode" value="Boost"/>

  <node pkg="eprobot_start" type="art_racecar.py" name="base_control" output="screen">
    <param name="base_kp" type="double" value="1000.0"/>
    <param name="base_ki" type="double" value="100.0"/>
    <param name="base_kd" type="double" value="0.0"/>
    <param name="base_kv" type="double" value="1.0"/>
    <param name="Laser_Mode" type="string" value="$(arg lidar_mode)"/>
    <param name="is_pub_odom_tf" type="string" value="$(arg is_pub_odom_tf)"/>
  </node>

  <group if="$(eval CAR_TYPE=='EPRobotV2.2')">
    <include file="$(find ls01d)/launch/ls01d.launch"/>
  </group>

  <group if="$(eval CAR_TYPE=='EPRobotV2.3')">
    <include file="$(find lslidar_driver)/launch/lslidar_serial.launch"/>
  </group>
</launch>
