<launch>
  <!-- 对齐官方 robot_navigation/launch/move_base.launch（TEB 参数见 base_local_planner_params_TEB.yaml） -->
  <arg name="odom_topic" default="odom"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <rosparam file="$(find car_sim)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find car_sim)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find car_sim)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find car_sim)/param/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find car_sim)/param/move_base_params.yaml" command="load"/>
    <rosparam file="$(find car_sim)/param/global_planner_params.yaml" command="load"/>
    <rosparam file="$(find car_sim)/param/base_local_planner_params_TEB.yaml" command="load"/>
    <remap from="scan" to="/scan_filtered"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
</launch>
